/*
  editor.css
  Wiki editor formatting
*/
body, html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px; /* -> 1em */
  margin: 0;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


#facebox .preview {
  font-size: 1.3em;
}

.live-preview {
  font-size: 1.3em;
  clear: both;
}

#markdown-editor-dialog {
  padding: 10px;
}

#markdown-editor-dialog h4 {
  border-bottom: 1px solid #DDD;
  color: black;
  font-size: 1.8em;
  font-weight: bold;
  line-height: normal;
  margin: 0px 0px 0.75em;
  padding: 0px 0px 0.3em;
}

#markdown-editor-dialog a.minibutton {
  float: left;
}
#markdown-editor-dialog input {
  border: 1px solid #DDD;
  display: block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0.3em 0px 0px;
  padding: 0.3em 0.5em;
  width: 300px;
}

#markdown-editor-dialog label {
  color: black;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.6em;
  margin: 0px;
  min-width: 80px;
  padding: 0px;
}

#markdown-editor-dialog a.minibutton {
  margin-right: 10px;
  
}

#markdown-editor-dialog .buttons {
  margin-top: 10px;

}


a {
  -moz-outline: none !important;
}

.editor {
  border: 1px solid #e4e4e4;
  background: #f9f9f9;
  margin: 1em 0 5em;
  overflow: hidden;
  padding: 1em 1em 0.4em;
}

.ie .editor {
  padding-bottom: 1em;  
}

/* @control function-bar */


.editor .function-bar .function-buttons {
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 0 5px 0;
}

.editor .function-bar a.function-button {
  background: #f7f7f7;
  border: 1px solid #ddd;
  color: #333;
  display: block;
  float: left;
  height: 25px;
  overflow: hidden;
  margin: 0.2em 0.5em 0 0;
  /* text-indent: -5000px; */
  text-shadow: 0 1px 0 #fff;
  width: 25px;
  
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#ececec');
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);
}

.editor .function-bar a.function-button:hover {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  
  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#599bdc', endColorstr='#3072b3');
  background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
  background: -moz-linear-gradient(top, #599bdc, #3072b3);
  border: 1px solid;
  border-color: #518cc6 #518cc6 #2a65a0;
}

.editor .function-bar a span {
  background-image: url(../images/icon-sprite.png);
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  overflow: hidden;
  text-indent: -5000px;
  width: 25px;
}

a.function-bold span { background-position: 0 0; }
a.function-italic span { background-position: -27px 0; }
a.function-underline span { background-position: -54px 0; }
a.function-code span { background-position: -82px 0; }
a.function-ul span { background-position: -109px 0; }
a.function-ol span { background-position: -136px 0; }
a.function-blockquote span { background-position: -163px 0; }
a.function-hr span { background-position: -190px 0; }
a.function-h1 span { background-position: -217px 0; }
a.function-h2 span { background-position: -244px 0; }
a.function-h3 span { background-position: -271px 0; }
a.function-link span { background-position: -298px 0; }
a.function-image span { background-position: -324px 0; }
a.function-help span { background-position: -405px 0; } 

a.function-bold:hover span { background-position: 0 -28px; }
a.function-italic:hover span { background-position: -27px -28px; }
a.function-underline:hover span { background-position: -54px -28px; }
a.function-code:hover span { background-position: -82px -28px; }
a.function-ul:hover span { background-position: -109px -28px; }
a.function-ol:hover span { background-position: -136px -28px; }
a.function-blockquote:hover span { background-position: -163px -28px; }
a.function-hr:hover span { background-position: -190px -28px; }
a.function-h1:hover span { background-position: -217px -28px; }
a.function-h2:hover span { background-position: -244px -28px; }
a.function-h3:hover span { background-position: -271px -28px; }
a.function-link:hover span { background-position: -298px -28px; }
a.function-image:hover span { background-position: -324px -28px; }
a.function-help:hover span { background-position: -405px -28px; } 


.editor .function-bar a.disabled {
  display: none;
}

.editor .function-bar span.function-divider {
  display: block;
  float: left;
  width: 0.5em;
}

.editor .collapsed a span,
.editor .expanded a span  {
  background-image: url(../images/icon-sprite.png);
  background-position: -351px -1px;
  background-repeat: no-repeat;
  display: block;
  height: 25px;
  overflow: hidden;
  text-indent: -5000px;
  width: 25px;
}


.editor textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  clear: both;
  display: block;
  font-size: 1.3em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 7em;
  line-height: 1.8em;
  margin: 0.7em 0;
  padding: 0.5em;
  width: 98%;
}

a.minibutton,
a.minibutton:visited {
  background-color: #f7f7f7;
  border: 1px solid #d4d4d4;
  color: #333;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0 0 0 0em;
  padding: 0.5em 1em;
  text-decoration: none;
  
  text-shadow: 0 1px 0 #fff;

  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#ececec');
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

a.minibutton:hover {
  background: #3072b3;
  border-color: #518cc6 #518cc6 #2a65a0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;

  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#599bdc', endColorstr='#3072b3');
  background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
  background: -moz-linear-gradient(top, #599bdc, #3072b3);
}
.preview {
  float: left;
  font-weight: normal;
  padding: left;
}

input.submit {
  background-color: #f7f7f7;
  border: 1px solid #d4d4d4;
  color: #333;
  cursor: pointer;
  display: block;
  float: left;
  font-size: 1.2em;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.4em 1em;

  text-shadow: 0 1px 0 #fff;

  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f4f4f4', endColorstr='#ececec');
  background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#ececec));
  background: -moz-linear-gradient(top, #f4f4f4, #ececec);

  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.webkit input.submit {
  padding: 0.5em 1em 0.45em;
}

.ie input.submit {
  padding: 0.4em 1em 0.5em;
}

input.submit:hover {
  background: #3072b3;
  border-color: #518cc6 #518cc6 #2a65a0;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;

  filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#599bdc', endColorstr='#3072b3');
  background: -webkit-gradient(linear, left top, left bottom, from(#599bdc), to(#3072b3));
  background: -moz-linear-gradient(top, #599bdc, #3072b3);
}

.editor-preview {
  float: left;
  font-weight: normal;
  padding: left;
}